nav{
    padding: 0rem 4rem ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.title img{
    height: 3.5rem;
    width: 3.5rem;
    margin: 4rem 0rem;
}
.title h5{
    color: #366700;
    font-family: "Chewy";
    font-size: 24px;
}
.Navbar-menu{
    display: flex;
    align-items: center;
    gap: 5rem;   
}
.Navbar-menu a{
    text-decoration: none;
    color: #366700;
    font-family: "Chewy";
    font-size: 1.5rem;
}
.homepage{
    display: flex;
    padding: 4rem;
    justify-content: space-between;
}
.homepage-text h1{
    /* font-family: 'Emilys candy'; */
    font-family: 'Emilyscandy';
    font-size: 5rem;
    color: #366700;
}
.jar img{
    /* margin: 5rem 5rem; */
}
/* leaves */
/* .scroll-bar{
    1F3B2C
    height: 6rem;
    font-family: 'Bebas Neue';
    font-size: 5rem;
    color: #CFE3BE;
    background-color: #1F3B2C;    
    
} */
@keyframes infiniteScroll {
    from {transform: translateX(0)}
    to {transform: translateX(-50%)}
}
.container {
    width: 100%;
    overflow-x: hidden;
}
.horizontal-scrolling-items {
    display: flex;
    width: max-content;
    animation-name: infiniteScroll;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.scroll-text {
    white-space: nowrap;
    height: 6rem;
    font-family: 'Bebas Neue';
    font-size: 5rem;
    color: #CFE3BE;
    background-color: #1F3B2C;
}