*{
    margin: 0;
    padding: 0;
    cursor: pointer;
}
section, footer{    /* for every section except home */
    padding: 2rem;
}
h2{       /*  for all the headings */
    color: #073A29;
    font-size: xxx-large;
    font-family: 'Chewy';
    letter-spacing: 2px;
    margin: 1rem 2rem;
}
h5{
    font-family: 'chewy';
}
p{      /*  for all paragraphs */
    color: #337600;
    font-family: 'Chewy';
    font-size: x-large;
}
#Home{
    background-color: #CCE0C5;
    height: auto;
    padding: 0;
}
nav{
    padding: 0rem 4rem ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.title img{
    height: 3.5rem;
    width: 3.5rem;
    margin: 2.5rem 0rem;
}
.title h5{
    color: #366700;
    font-size: x-large;
    font-weight: 400;
    /* letter-spacing: 1px; */
}
.Navbar-menu{
    display: flex;
    align-items: center;
    gap: 5rem;   
}
.Navbar-menu a{
    text-decoration: none;
    color: #366700;
    font-family: "Chewy";
    font-size: 1.5rem;
}
.homepage{
    padding: 4rem 4rem 0rem 8rem;
    justify-content: space-between;
    position: relative;
}
.homepage-text h1{
    float: left;
    margin-top: 3rem;
    font-family: 'Emilys candy';
    font-weight: 300;
    font-size: 5rem;
    color: #337600;
    width: fit-content;
    position: relative;
    z-index: 2;

}
.jar img{
    float: right;
    position: relative;
    z-index: 2;
    right: 15rem;
    top: 5rem;
    bottom: -1rem;
}

/* leaves */
.box#four {
    position: absolute;
    z-index: 1;
    width: 90rem;
    height: 49.75rem;
    flex-shrink: 0;
    top: 6rem;
    left: 4.3rem;
    mix-blend-mode: multiply;
}


/* Horizontal Scroll Animation */
@keyframes infiniteScroll {
    from {transform: translateX(0)}
    to {transform: translateX(-50%)}
}
.scroll-container {
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 0;
}
.horizontal-scrolling-items {
    display: flex;
    width: max-content;
    animation-name: infiniteScroll;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: relative;
    z-index: 2;
}
.scroll-text {
    white-space: nowrap;
    height: 6rem;
    font-family: 'Bebas Neue';
    font-size: 5rem;
    color: #CFE3BE;
    background-color: #1F3B2C;
}


/* Our Story */
#About{
    background-color: #CCE0C5;
}
.Story{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    position: relative;
}
.our-story{
    flex: 1;
    /* width: 30%; */
    /* min-width: 900px; */
    /* width: 100%; By default, take up 100% of the width */
    box-sizing: border-box; /* Include padding and border in the width */
    margin-bottom: 1rem;
}

.story-palette{
    flex: 2;
    /* width: 60%;
    min-width: 900px; */
    /* width: 100%; By default, take up 100% of the width */
    /* box-sizing: border-box; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

@media screen and (max-width: 1170px) {
    .story-palette .col3:nth-child(n+3) {
        display: none; /* Hide the third and subsequent items on smaller screens */
    }
}
@media screen and (max-width: 900px){
    .Story{
        flex-wrap: wrap;
    }
}
.collage-img3{
    position: relative;
    z-index: 1;
}
.collage-creaaper-img{
    position: absolute;
    left: 66.5%;
    top: 68rem;
}

/* Menu */

.Item-set{
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    justify-content: space-around;
}
.Item-set h3{
    color: #337600;
    font-family: 'Bebas Neue';
    font-size: xx-large;
    font-weight: 400;
    text-align: center;
}
.Item-set p{
    color: #366700;
    text-align: center;
    padding: 0rem 3rem;
}
.item{
    width: 80%;
    max-width: 400px;
    margin: 1rem;
}
.item-img{
    overflow: hidden;
    text-align: center;
    padding: 1rem;
}
.item-img img{
    overflow-clip-margin: content-box;
    overflow: clip;
    object-fit: cover;
    transition: 0.5s all ease-in-out;
}
.item-img img:hover{
    transform: scale(1.1);
}

/* What we hear all the time */
#Testimonial{
    background-color: #B5DBC6
}
.carousel{
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
}
.card{
    background: #DBFFEB;
    height: 24rem;
    border: solid #DBFFEB 1rem;
    border-radius: 1.5rem;
    margin-right: 1rem;
    /* width: 15%; */
    /* height: 424px; */
}
.card img{
    width: 2rem;
    height: 2rem;
    padding: 1rem;
}
.card p{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* FAQ's */
#FAQ{
    background-color: #83C998;
}

.faq { 
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}


.faq-item {
    min-width: 100%;
    max-width: 120rem;
    margin-top: 1rem;
}
.item-question {
    background: #BEE7B0B2;
    color: #006048;
    font-family: 'Chewy';
    font-size: x-large;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2rem;
}
.question-text {
    display: inline-block;
}
.arrows-container {
    width: 3rem;
    height: fit-content;
    margin: 0.4rem;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    align-items: center;
    /* border: 2px solid #377E56; */
    border-radius: 100%;
    background-color: #83C998;
    
}
.item-answer {
    display: none;
    color: #377E56;
    padding: 1rem 3rem;
}
.close {
    display: none;
}

.show-answer .item-answer {
    display: block;
    background-color: #8CD7A2;
    color: #377E56;
    font-family: 'Chewy';
    font-size: x-large;
    border-radius: 2rem;
}
.show-answer .close {
    display: inline;
}
.show-answer .expand {
    display: none;
}


/* Footer */
footer{
    background-color: #003221;
}
.logo{
    text-align: center;
}
.logo img{
    width: 3.5rem;
    height: 3.5rem; 
}
.logo h3{
    font-family: 'chewy';
    font-size: medium;
    color: #83C998;
}
#contact-us{
    display: flex;
    justify-content: space-around;
    margin: 1rem;
}
.contact{
    margin-left: 30rem;
    margin-bottom: 1rem;
}
.follow{
    margin-right: 30rem;
    align-items: center;
}
#contact-us h5{
    color: #83C998;
    font-size: medium;
    text-align: center;
    padding: 10px;
}
#contact-us p{
    color: #2DB753;
    font-size: medium;
    text-align: center;
    padding: 2px;
}
.follow img{
    padding: 1px;
}
.copyrights p{
    color: #597A6A;
    font-size: medium;
    text-align: center;
}